<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8"/>
    <title>Search</title>
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/></head>

<body>
<div class="container">

    <h1>Search Movie</h1>
    <form th:action="@{/search}" th:object="${title}" method="Get">

        <p>Enter Title</p>
        <input type="text" th:field="${title.title}"/>


        <input class="btn btn-primary" type="submit" th:value="Submit"/>

        <a class="active" href="/">
            <button class="btn btn-primary">Back</button>
        </a>

    </form>
</div>
<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
</body>
</html>